
#App {
  text-align: center;
  

  padding-bottom: 60px;
}

.noBg{
  background: none;
}
.blackBg{
  background-color: #222;
}
.darkBg{
  background-color: #49494D;
}
.lightgrayBg{
  background-color: #E3E3CD;
}
.whiteBg{
  background-color: white;
}
.bluegreenBg{
  background-color: #2D8E87;
}
.salmonBg{
  background-color: #DF6747;
}
.lightgrayFont{
  color: #E3E3CD;
}
.grayFont{
  color: #e3e3cdc0;
}
.whiteFont{
  color: white;
}
.darkFont{
  color: #49494D
}
.bluegreenFont{
  color: #2D8E87;;
}
.salmonFont{
  color: #DF6747;;
}
.errorFont{
  color: rgba(255, 41, 41, 0.87);
  font-size: small;
}

.font25{
  font-size: 25px;
}
.font70{
  font-size: 70px;
}

.round{
  border-radius: 50%;
}
.smoothEdge{
  border-radius: 10px;
}
.noBorder{
  border: none;
}
.shadow{
  box-shadow: 0 5px 5px 0 rgba(34, 34, 34, 0.13);
}
.noBulletList{
  list-style: none;
  padding-inline-start: 0;
}
.noUnderline{
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}

.flex{
  display: flex;
}
.flexColumn{
  flex-direction: column;
}
.flexCenter{
  justify-content: center;
  align-items: center;
}
.flexSBetween{
  justify-content: space-between;
}
.flexSAround{
  justify-content: space-around;
}

.marginAuto{
  margin: auto;
}
.margin5{
  margin: 5px;
}
.margin15{
  margin: 15px;
}
.padding5{
  padding: 5px;
}
.padding10{
  padding: 10px;
}
.width100{
  width: 100%;
}
.maxWidth100parent{
  max-width: 100%;
}
.maxWidth400{max-width: 400px;}
.height100{
  height: 100%;
}
.vh100{
  min-height: 100vh;
}