*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}


a:active, button:active{
  transform: scale(.95);
}
a:hover, button:hover{
  cursor: pointer;
  filter: brightness(1.2);
}
.darkHover:hover{
  filter: brightness(.98);
}
.liftShadow{
  transition: .4s;
}
.liftShadow:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 15px 0 rgba(34, 34, 34, 0.5);
}

.bottomRightNotif{
  position: fixed;
  right: 20px;
  bottom: 75px;
}